:root {
  --background-light: snow;
  --border-size: 3px;
}

.goalTable {
  overflow: scroll;
  max-width: 800px;
  display: grid;
  grid-template-columns: 100px repeat(8, 50px);
}

.tableHeader {
  width: 50px;
  box-sizing: border-box;
  border-top: var(--border-size) solid
    light-dark(var(--background-light), var(--background-color-dark));
}

.todayHeader {
  border-top: var(--border-size) solid var(--highlight-dark);
  border-left: var(--border-size) solid var(--highlight-dark);
  border-right: var(--border-size) solid var(--highlight-dark);
}

.stickyColumn {
  position: sticky;
  top: 0;
  left: 0;
  align-self: start;
  background: light-dark(var(--background-light), var(--background-color-dark));
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stickyColumn--last {
  align-self: end;
  padding-left: 4px;
  right: 0;
}
