.weekGoal {
  display: contents;
}

.todayEntry {
  border-left: 3px solid var(--highlight-dark);
  border-right: 3px solid var(--highlight-dark);
}

.todayEntry--last {
  border-bottom: 3px solid var(--highlight-dark);
}

.atRisk {
  background-color: orange;
}

.violation {
  background-color: red;
}
